CREATE FUNCTION HEX_PW (PWD VARCHAR(30)) RETURNS VARCHAR(30) CHARSET utf8
BEGIN
	DECLARE HEX_CHAR VARCHAR(30) DEFAULT '';
  SELECT SUBSTRING(SHA(SHA1(MD5(PWD))), 1, 30) INTO HEX_CHAR FROM DUAL;
	RETURN HEX_CHAR;
END

CREATE TABLE MEMBER(
  ID VARCHAR(16) NOT NULL PRIMARY KEY COMMENT '아이디',
  PWD VARCHAR(30) NOT NULL COMMENT '비밀번호'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT= '회원관리';

INSERT INTO member VALUES ('KMS7', HEX_PW('KMS2545'));
INSERT INTO member VALUES ('KMS6', HEX_PW('KMS2545'));

SELECT * FROM member;

UPDATE member SET pwd = HEX_PW('1234') WHERE ID = 'KMS7';

SET @VAR1 = 5;
SET @VAR2 = '가수이름 =>';
SELECT @VAR1;
SELECT @VAR2, NAME FROM USERTBL WHERE height>180;



