/*
정보가 저장된 데이터베이스를 암호화하면 중요한 정보의 유출을 막을 수 있다. 여기에서는 데이터베이스에 저장되는 정보 중 
필수적으로 보호해야 하는 것들을 암호화해 저장하는 방법을 학습한다.
인터넷 정보 유출 사고는 너무 자주 발생되어, 이제는 이들 유출 사고에 무감각해지는 상황에 이르렀고 해킹을 막을 수도 없다. 해킹을
막을 수 없다면, 최소한 유출된 정보가 읽히지 못하도록 데이터베이스를 암호화해야 한다. 정보 통신망 이용 촉진 및 정보 보호등에 관한
법츌(이하 정보통신망법), 개인 정보 보호 등에서는 인터넷에서 사용되는 정보를 보호하기 위해 암호화 기술을 사용하도록 하고 있다.
암호화가 필요한 개인 정보에는 비밀번호, 바이오 정보, 주민등록번호, 신용카드번호, 계좌번호, 여권번호, 운전면허번호, 외국인등록번호
등이 해당된다. 이들 정보들은 데이터베이스에 저장 및 통신망을 통해 송/수신되는 경우, 반드시 암호화되어야 한다.

암호화되 정보를 다시 복호화할 수 없는 정보들은 '해시함수 알고리즘'을 사용해서 암호화 한다. 
정보통신망법, 개인정보보호법에서 비밀번호는 해시 함수를 사용해서 암호화해야 한다.
*/

-- 변수의 사용
-- SQL도 다른 일반적인 프로그래밍 언어처럼 변수를 선언하고 사용할 수 있다.
-- SET @변수이름 = 변수의 값; 변수의 선언 및 값 대입
-- SELECT @변수이름; 변수의 값 출력

SET @VAR1 = 5;
SET @VAR2 = '가수이름 =>';
SELECT @VAR1;
SELECT @VAR2, NAME FROM USERTBL;
